@font-face {
    font-family: 'Kudajets';
    src: url('../fonts/Kudajets/Kudajets.otf');
}
.center {
    text-align: center;
  }
h1{ 
    position:absolute; 
    float:left;
    left:25%;
    right:25%;
    top:40%;
    transform:translate(0%,-40%);

    font-family: 'Kudajets';
    font-size: 72px;
    background: linear-gradient(
        230deg, #ffffff, #ffffff
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}